.shape {
  position: absolute;
}

/* The animation code */
@keyframes example {
  from {
    left: 0;
  }
  to {
    left: 500;
  }
}

/* The element to apply the animation to */
.shape {
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}